$btn-color: #5474FD;

.btn {
    background-color: $btn-color;
    &--search {
        width: 150px;
        height: 60px;
        left: 502px;
        border: 2px solid white;
        top: 2px;
    }
    &--explore {
        width: 228px;
        height: 63px;
        left: 0px;
        top: 0px;
        border: none;
        opacity: 80%;
    }
    &--book {
        width: 228px;
        height: 63px;
        left: 358px;
        top: 488px;
        border: none;
        opacity: 80%;
    }
}
