$btn-color: #5474FD;

.btn {
    background-color: $btn-color;
    &--search {
        width: 153px;
        height: 60px;
        left: 502px;
        border: 2px solid white;
        padding-left: 23px;
        padding-right: 18px;
    }
    &--explore {
        width: 228px;
        height: 63px;
        border: none;
        opacity: 80%;
        margin-top: 35px;
    }
    &--book {
        width: 228px;
        height: 63px;
        border: none;
        opacity: 80%;
    }
}
