.spain__card {
    background-color: rgba(35, 35, 35, .9);
    max-width: 543px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 40px 20px;
}