@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');

$main-txt-color: white;
$main-font: 'Josefin Sans', sans-serif;
$sub-font: 'Aleo', serif;
$main-font-size: 16px;
$s-font-size: 14px;
$header-font-size: 48px;
$title-font-size: 36px;
$sub-title-font-size: 20px;
$ph-txt-color: #999999;
$accent-color: #5474FD;

body {
    color: $main-txt-color;
}

.btn {
    font-family: $sub-font;
    color: $main-txt-color;
    &--search {
    font-size: $s-font-size;
    letter-spacing: 1.4px;
    }
    &--book, &--explore {
        font-size: $main-font-size;
        letter-spacing: 1.2px;
    }
}
.main__text {
    font-family: $main-font;
    font-size: $main-font-size;
    letter-spacing: 1.6px;
}

.header{
    &__title {
        font-family: $main-font;
        font-size: $header-font-size;
        font-weight: 700;
        text-align: center;
        letter-spacing: 4.8px;
        font-stretch: expanded;
    }
    &__slogan {
        font-family: $main-font;
        font-size: 22px;
        letter-spacing: 6.82px;
        text-align: center;
    }
    &__searchbar::placeholder {
        font-family: $main-font;
        font-size: $s-font-size;
        color: $ph-txt-color;
        letter-spacing: 2.8px;
        text-align: center;
    }
    &__scroll {
        text-decoration: none;
        color: $main-txt-color;
        font-family: $main-font;
        font-size: $s-font-size;
        text-align: center;
        letter-spacing: 2.8px;
        line-height: 26px;
    }
}
.nav {
    &__logo {
        text-decoration: none;
        color: $main-txt-color;
        font-family: $main-font;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 2.4px;
    }
    &__link {
        text-decoration: none;
        font-family: $sub-font;
        font-size: $s-font-size;
        color: $main-txt-color;

    }
}
.why-us {
    &__title {
        font-family: $sub-font;
        font-size: 26px;
    }
}

.mid {
    &__icon--search {
        font-size: 60px;
        color: $accent-color;
    }
    &__icon--select {
        font-size: 60px;
        color: #FF6363;
    }
    &__icon--book {
        font-size: 60px;
        color: #00A2FF;
    }
    &__text {
        font-family: $sub-font;
        font-size: 36px;
        color: #E8E8E8;
    }
}

.card__title {
    font-family: $main-font;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.card__info {
    font-family: $main-font;
    font-size: $main-font-size;
    line-height: 26px;
}
.review {
    &__title {
        font-family: $sub-font;
        font-size: 36px;
        text-align: center;
    }
    &__quote {
        font-size: 36px;
        color: $accent-color;
    }
}
.footer {
    &__logo {
        font-family: $main-font;
        font-weight: 700;
        letter-spacing: 3.36px;
        font-size: 24px;
    }
    &__slogan {
        font-family: $main-font;
        font-size: 16px;
        letter-spacing: 1.6px;
        text-align: center;
    }
    &__icon {
        color: $main-txt-color;
        &--li {
            color: $accent-color;
        }
    }
    &__icon {
        padding: 5px 12px;
    }
}