body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
}
a:hover {
    font-weight: 700;
}
.container {
    width: 100%;
    max-width: 1770px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    &__title {
        padding: 6px;
    }
    &__slogan {
        padding: 5px;
        margin-bottom: 23px;
    }
    &__search {
        width: 58%;
        max-width: 653px;
        display: flex;
        margin-top: 20px;
        margin-bottom: 54px;
    }
    &__searchbar {
        padding-top: 19px;
        padding-bottom: 19px;
        width: 100%;
        border: none;
        display: block;
    }
    &__scroll {
        margin-top: 54px;
        padding: 5px;
    }
   
}

.why-us {
    background-image: url(../images/city.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
    max-height: 685px;
    &__main {
        display: flex;
        flex-flow: column wrap;
        max-width: 560px;
    }
    &__title {
        padding: 10px;
        margin-bottom: 15px;
    }
    &__info {
        padding: 10px;
        margin-top: 15px;
    }
    &__img {
        &img--cottage, &img--mountain {
            max-width: 350px;
            margin: 5px;
        }
    }
}

.spain-1 {
    background-image: url(../images/villa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.spain-2 {
    background-image: url(../images/ocean.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.spain__card {
    margin-top: 10vh;
}
.spain-2__container {
    display: flex;
    justify-content: flex-end;
}

.review {
    background-image: url(../images/sam-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        margin-bottom: 45px;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 46px;
    }
}

