@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap");
body {
  color: white;
}

.btn {
  font-family: "Aleo", serif;
  color: white;
}
.btn--search {
  font-size: 14px;
  letter-spacing: 1.4px;
}
.btn--book, .btn--explore {
  font-size: 16px;
  letter-spacing: 1.2px;
}

.main__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1.6px;
}

.header__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 4.8px;
  font-stretch: expanded;
}
.header__slogan {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 6.82px;
  text-align: center;
}
.header__searchbar::-webkit-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  letter-spacing: 2.8px;
  text-align: center;
}
.header__searchbar::-moz-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  letter-spacing: 2.8px;
  text-align: center;
}
.header__searchbar:-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  letter-spacing: 2.8px;
  text-align: center;
}
.header__searchbar::-ms-input-placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  letter-spacing: 2.8px;
  text-align: center;
}
.header__searchbar::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  letter-spacing: 2.8px;
  text-align: center;
}
.header__scroll {
  text-decoration: none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2.8px;
  line-height: 26px;
}

.nav__logo {
  text-decoration: none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2.4px;
}
.nav__link {
  text-decoration: none;
  font-family: "Aleo", serif;
  font-size: 14px;
  color: white;
}

.why-us__title {
  font-family: "Aleo", serif;
  font-size: 26px;
}

.mid__icon--search {
  font-size: 60px;
  color: #5474FD;
}
.mid__icon--select {
  font-size: 60px;
  color: #FF6363;
}
.mid__icon--book {
  font-size: 60px;
  color: #00A2FF;
}
.mid__text {
  font-family: "Aleo", serif;
  font-size: 36px;
  color: #E8E8E8;
}

.card__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.card__info {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.review__title {
  font-family: "Aleo", serif;
  font-size: 36px;
  text-align: center;
}
.review__quote {
  font-size: 36px;
  color: #5474FD;
}

.footer__logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 3.36px;
  font-size: 24px;
}
.footer__slogan {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-align: center;
}
.footer__icon {
  color: white;
}
.footer__icon--li {
  color: #5474FD;
}
.footer__icon {
  padding: 5px 12px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
}

a:hover {
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1770px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  padding: 6px;
}
.header__slogan {
  padding: 5px;
  margin-bottom: 23px;
}
.header__search {
  width: 58%;
  max-width: 653px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 54px;
}
.header__searchbar {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 100%;
  border: none;
  display: block;
}
.header__scroll {
  margin-top: 54px;
  padding: 5px;
}

.why-us {
  background-image: url(../images/city.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 75vh;
}
.why-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1770px;
}
.why-us__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-width: 50%;
}
.why-us__title {
  padding: 10px;
  margin-bottom: 15px;
}
.why-us__info {
  padding: 10px;
  margin-top: 15px;
}
.why-us__img {
  max-width: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}
.why-us__img > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.why-us__img > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.why-us__img > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.why-us__img > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.why-us__img > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.why-us__img > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.why-us__img > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.why-us__img > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.why-us__img > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.why-us__img > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.why-us__img--cottage {
  max-width: 350px;
  margin: 5px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}
.why-us__img--mountain {
  max-width: 350px;
  margin: 5px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}

.spain-1 {
  background-image: url(../images/villa.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spain-2 {
  background-image: url(../images/ocean.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spain__card {
  margin-top: 10vh;
}

.spain-2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.review {
  background-image: url(../images/sam-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review__title {
  margin-bottom: 45px;
}
.review__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 46px;
}

.nav {
  background-color: #5474FD;
  width: 100%;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.nav__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1773px;
  padding: 30px;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  margin-left: 12px;
  margin-right: 12px;
  padding-right: 30px;
}

/*
Blue: #5474FD;
Blue like: #00A2FF;
Grey text: #999999;
Grey bg: #333333;
Red check: #FF6363;
*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232323;
  min-height: 269px;
  width: 100%;
}
.footer__logo, .footer__slogan {
  padding: 4px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  margin-top: 25px;
}

@media only screen and (max-width: 1000px) {
  .review__wrapper {
    display: block;
  }
  .header__searchbar::-webkit-input-placeholder {
    letter-spacing: normal;
  }
  .header__searchbar::-moz-placeholder {
    letter-spacing: normal;
  }
  .header__searchbar:-ms-input-placeholder {
    letter-spacing: normal;
  }
  .header__searchbar::-ms-input-placeholder {
    letter-spacing: normal;
  }
  .header__searchbar::placeholder {
    letter-spacing: normal;
  }
}
@media only screen and (max-width: 600px) {
  .nav__navbar {
    display: block;
  }
  .header__searchbar::-webkit-input-placeholder {
    font-size: 12px;
  }
  .header__searchbar::-moz-placeholder {
    font-size: 12px;
  }
  .header__searchbar:-ms-input-placeholder {
    font-size: 12px;
  }
  .header__searchbar::-ms-input-placeholder {
    font-size: 12px;
  }
  .header__searchbar::placeholder {
    font-size: 12px;
  }
}
.mid {
  width: 100%;
  max-width: 1770px;
  min-height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mid__item {
  display: block;
  text-align: center;
  margin: 10px;
}
.mid__text {
  margin: 9px;
}

.btn {
  background-color: #5474FD;
}
.btn:hover {
  font-weight: 700;
}
.btn--search {
  width: 153px;
  height: 60px;
  left: 502px;
  border: 2px solid white;
  padding-left: 23px;
  padding-right: 18px;
}
.btn--explore {
  width: 228px;
  height: 63px;
  border: none;
  opacity: 80%;
  margin-top: 35px;
  margin: 10px;
}
.btn--book {
  width: 228px;
  height: 63px;
  border: none;
  opacity: 80%;
  margin: 10px;
}

.spain__card {
  background-color: rgba(35, 35, 35, 0.9);
  max-width: 543px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px 10px 40px 20px;
}
.spain__card--title {
  margin: 10px 0 13px 10px;
}
.spain__card--info {
  margin-left: 10px;
  margin-bottom: 36px;
}

.review__img {
  max-width: 445px;
}

.review__card {
  background-color: #333333;
  max-width: 668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.review__card .review__text {
  padding: 20px;
  margin: 30px 5px 20px 30px;
}